# ETL

I want to analyze visa petition data, with the end goal of finding lucrative petition demographics. To do this I will analyze my CSV data for a brief overview and then route it through SQL to perform a more robust analysis. I will connect my SQL database to an API in order to query as my data changes over time (with new entries).

1. EDA: exploration, cleaning, etc
2. SQL
3. Export to JSON
4. EDA: Analysis
5. API

### Import libraries and database

In [4]:
import pandas as pd
import sqlalchemy as alch
from getpass import getpass
import re

In [18]:
df = pd.read_csv("input/h1b_visas_2011-2016.csv")
df.sample(5)

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
72499,72500,CERTIFIED,HUNT MORTGAGE INVESTMENTS LLC,FINANCIAL ANALYSTS,CAPITAL MARKETS ANALYST,N,65187.0,2016.0,"NEW YORK, NEW YORK",-74.005941,40.712784

# 1. EDA: exploration, cleaning, etc
Understand (and potentially clean) my database before importing to SQL.

In [45]:
print(f"CASE_STATUS: \n {df['CASE_STATUS'].unique()} \n\nSOC_NAME: \n {df['SOC_NAME'].unique()} \n\nFULL_TIME_POSITION: \n {df['FULL_TIME_POSITION'].unique()} \n\nPREVAILING_WAGE: \n {df['PREVAILING_WAGE'].unique()} \n\nYEAR: \n {df['YEAR'].unique()} \n\nWORKSITE: \n {df['WORKSITE'].unique()}")

CASE_STATUS:
 ['CERTIFIED-WITHDRAWN' 'WITHDRAWN' 'CERTIFIED' 'DENIED' 'REJECTED'
 'INVALIDATED' 'PENDING QUALITY AND COMPLIANCE REVIEW - UNASSIGNED' nan]

SOC_NAME:
 ['BIOCHEMISTS AND BIOPHYSICISTS' 'CHIEF EXECUTIVES' 'FINANCIAL MANAGERS'
 ... 'Tree Trimmers and Pruners'
 'Excavating and Loading Machine and Dragline Operat'
 'Earth Drillers, Except Oil and Gas']

FULL_TIME_POSITION:
 ['N' 'Y' nan]

PREVAILING_WAGE:
 [3.6067000e+04 2.4267400e+05 1.9306600e+05 ... 3.3621300e+05 1.3000080e+05
 1.3701792e+08]

YEAR:
 [2016. 2015. 2014. 2013. 2012. 2011.   nan]

WORKSITE:
 ['ANN ARBOR, MICHIGAN' 'PLANO, TEXAS' 'JERSEY CITY, NEW JERSEY' ...
 'CLINTON, NEW JERSEY' 'OWINGS MILL, MARYLAND' 'ALTANTA, GEORGIA']

In [46]:
# do some charts for this

### Potential discoveries:
- most lucrative field, state.
- growth in visa requests y/y.
- check if full-time visas are more lucrative.

# 2. SQL

### Create SQL schema
This step is done in MySQL Workbench, first by creating an EER diagram and then reverse engineering into tables.

""" CODE """

### Connect to SQL (using SQLalchemy)

In [ ]:
password = getpass("Insert your password here: ")
dbName = "US_visas"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [ ]:
list(engine.execute("SELECT * FROM visa"))

### Populate SQL

In [ ]:
def check (table, string):
''' Ensure duplicate data is not inserted into SQL using defensive programming '''

    if table == "visa":
        query = list(engine.execute(f"SELECT name FROM visa WHERE name = '{string}';"))
        if len(query) > 0:
            return True
        else:
            return False
        
    if table == "demographic":
        query = list(engine.execute(f"SELECT name FROM demographic WHERE name = '{string}';"))
        if len(query) > 0:
            return True
        else:
            return False

In [ ]:
check("visa", "John")

In [ ]:
def insertVisa (string):
    ''' Insert data into SQL table VISA '''
    
    if check("visa", string):
        return "It already exists"
    else:
        engine.execute(f"INSERT INTO visa (name) VALUES ('{string}');")

In [ ]:
insertVisa ("test")

In [ ]:
check("visa", "John")

In [ ]:
# insert all data into SQL
for index, row in df.iterrows():
    insertVisa (row["visa"])
    
# for index, row in df.iterrows():
#    insertDemo (row["demo"])

# 3. Export to JSON

In [47]:
df.to_json("h1b_visas_2011-2016")

# 4. EDA: Analysis

### Most Lucrative Field
1. what is the aggregate PREVAILING_WAGE for each SOC_NAME?
2. Filter for only approved.

In [ ]:
# code here

### Most Lucrative State
1. what is the aggregate PREVAILING_WAGE for each WORKSITE? Group worksites with similar state names.
2. Filter for only approved.

In [ ]:
# code here

# 5. API

Connect analysis to api using api.py (see file in repo root).