# ETL

1. Data Manipulation
2. SQL
3. Export to JSON

### Import libraries and database

In [ ]:
import pandas as pd
import sqlalchemy as alch
from getpass import getpass
import re

In [ ]:
df = pd.read_csv("lyrics.csv")
df

## 1. Data Manipulation
Clean my database before importing to SQL

In [1]:
# Some fxns to clean data

## 2. SQL

### Create SQL schema
This step is done in MySQL Workbench, first by creating an EER diagram and then reverse engineering into tables.

""" CODE """

### Connect to SQL (using SQLalchemy)

In [ ]:
password = getpass("Insert your password here: ")
dbName = "spotify"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [ ]:
list(engine.execute("SELECT * FROM songs"))

### Populate SQL

In [ ]:
def check (something, string):
''' Ensure duplicate data is not inserted into SQL using defensive programming '''

    if something == "ironhacker":
        query = list(engine.execute(f"SELECT name FROM ironhackers WHERE name = '{string}';"))
        if len(query) > 0:
            return True
        else:
            return False
        
    if something == "artist":
        query = list(engine.execute(f"SELECT name FROM artists WHERE name = '{string}';"))
        if len(query) > 0:
            return True
        else:
            return False


    if something == "song":
        query = list(engine.execute(f"SELECT name FROM songs WHERE name = '{string}';"))
        if len(query) > 0:
            return True
        else:
            return False

In [ ]:
check("song", "16")

In [ ]:
def insertVisas (string):
    ''' Insert data into SQL table VISAS '''
    
    if check("visas", string):
        return "It already exists"
    else:
        engine.execute(f"INSERT INTO visas (name) VALUES ('{string}');")

In [ ]:
insertVisas ("test")

In [ ]:
check("visas", "chelechepe")

In [ ]:
# insert all data into SQL
for index, row in df.iterrows():
    insertIronhacker (row["ironhacker"])

## 3. Export to JSON

In [ ]:
df.to_json("mongo")